<div class="title-container">
  <mat-icon>person_add</mat-icon>
  <div class="title-worker">Dodaj funkcjonariusza/pracownika:</div>
</div>

<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Imię:</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nazwisko:</mat-label>
    <input matInput>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Dział:</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Funkcja:</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button class="button-save" mat-button [mat-dialog-close]="">Zapisz</button>
</div>

