<div class="container-form">
  <mat-toolbar color="primary" class="toolbar">
    <img mat-card-sm-image src="assets/Logo3.png" alt="Photo of a logo application" class="img-logo-toolbar">
    <span>Lista obecności</span>
    <span class="spacer"></span>
    <button class="login-button" aria-label="Button to login" [routerLink]="['/login']" routerLinkActive="active">Zaloguj</button>
  </mat-toolbar>

  <app-menu-navigation *ngIf="isMenuVisible"></app-menu-navigation>

  <router-outlet></router-outlet>

  <mat-card class="footer-card">
    <mat-card-content>
      <p>
        &copy; 2022 dla Aresztu Śledczego w Łodzi
      </p>
    </mat-card-content>
  </mat-card>
</div>
