.logo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.img-logo {
  height: 34em;
  width: 34em;
  animation-name: start-logo;
  animation-duration: 4s;
  position: relative;
}

@keyframes start-logo {
  0%   {
    left: -100%;
    transform: rotate(0);
  }
  100% {
    left: 0;
    transform: rotate(360deg);
  }
}
